{% extends "_layouts/site" %}

{% block content %}
    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>Assigments</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
                </div>
            </div>
            <div class="row top-course">
                {% set assigment = craft.entries.section('assigments').all %}

                {% for assigment in assigment %}

                    <div class="col-md-4 col-sm-6 col-12">
                        <a href="{{ assigment.url }}" class="course">
                            {% set img = assigment.mainImage.one() %}
                            <img src="{{ img.getUrl({width: 750}) }}" alt=" {{ img.title }}">
                            <h2>{{ assigment.title }}</h2>
                            <p>Read more ...</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}






